[submodule "Submodules/PeleLM"]
	path = Submodules/PeleLM
	url = https://github.com/AMReX-Combustion/PeleLM.git
        branch = Landon/soot_and_spray
[submodule "Submodules/PelePhysics"]
	path = Submodules/PelePhysics
	url = https://github.com/AMReX-Combustion/PelePhysics.git
        branch = development
[submodule "Submodules/amrex"]
	path = Submodules/amrex
	url = https://github.com/AMReX-Codes/amrex.git
        branch = development
[submodule "Submodules/IAMR"]
	path = Submodules/IAMR
	url = https://github.com/AMReX-Codes/IAMR.git
        branch = development
[submodule "Submodules/AMReX-Hydro"]
	path = Submodules/AMReX-Hydro
	url = https://github.com/AMReX-Codes/AMReX-Hydro.git
[submodule "Submodules/PeleMP"]
	path = Submodules/PeleMP
	url = https://github.com/AMReX-Combustion/PeleMP
[submodule "Submodules/PeleLMeX"]
	path = Submodules/PeleLMeX
	url = https://github.com/AMReX-Combustion/PeleLMeX
        branch = Landon/soot_and_spray
[submodule "Submodules/PeleC"]
	path = Submodules/PeleC
	url = https://github.com/AMReX-Combustion/PeleC
        branch = Landon/merge_soot_spray
