[submodule "Submodules/PeleLM"]
	path = Submodules/PeleLM
	url = https://github.com/AMReX-Combustion/PeleLM.git
        branch = master
[submodule "Submodules/PelePhysics"]
	path = Submodules/PelePhysics
	url = https://github.com/AMReX-Combustion/PelePhysics.git 
        branch = master
[submodule "Submodules/amrex"]
	path = Submodules/amrex
	url = https://github.com/AMReX-Combustion/amrex.git
        branch = development
[submodule "Submodules/IAMR"]
	path = Submodules/IAMR
	url = https://github.com/AMReX-Codes/IAMR.git
        branch = master
[submodule "Submodules/PeleC"]
	path = Submodules/PeleC
	url = https://github.com/AMReX-Combustion/PeleC.git
